.todo-detail {
  justify-content: space-between;
  align-items: center;
  .image {
    width: 400px;
  }

  .todo-detail-content {
    font-size: 32px;
  }

  .todo-detail-info {
    gap: 20px;
    & > span {
      font-weight: bold;
    }
  }
}
